<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AutoConnect" value="1"/>
    <!--通知停留時間(ms)-->
    <add key="NotifyTime" value="3000"/>
    <!--Notify Position(3x4 Matrix)-->
    <add key="NotificationPositionMatrix" value="1,0,0,0,0,1,0,0,0,0,1,-0.8"/>
    <!--Format: ARGB-->
    <add key="TextColor" value="FFFFFFFF"/>
    <add key="BackgroundColor" value="300000FF"/>
    <add key="FontSize" value="80"/>

  </appSettings>
</configuration>